body{
  --br: 40px 40px;
  --divWidth: 100%;
  --stdBg: linear-gradient(45deg,#ff79dc,#7042cb);
}
.banner{
  padding: 5px;
  background: var(--stdBg);
  color: #fff;
  width: var(--divWidth);
  border-radius: 0 0 var(--br);
  margin-bottom: 100px;
}
.content{
  margin-bottom: 100px;  
  padding: 5px;
  background: #fff;
  color: #fff;
  width: var(--divWidth);
  border-radius: var(--br);
}
.dev{
  padding: 5px;
  background: var(--stdBg);
  color: #fff;
  width: var(--divWidth);
  border-radius: var(--br) 0 0;
}

@media screen and (max-width: 500px){
  body{
    --br: 10px 10px;
  }
}