.spinP .spin{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 10px 0;
  flex-flow: row wrap;
}
.spinP .spin.active .space{
  filter: contrast(.4);
  transform: scale(.8);
}
.spinP .spin .space.active{
  filter: contrast(1.2);
  transform: scale(1.1);
}
.spinP .spin .space{
  width: 90px;
  height: 90px;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 5px;
  position: initial;
  margin: 5px;
  transition: all .4s cubic-bezier(.68,-0.55,.27,1.55);
}
.spinP .spin .space img{
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0;
  transform: scale(.5);
  animation: show .5s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--i)*.1s);
}
.spinP .btnPan .txt{
  color: #000;
  margin-bottom: 10px;
  animation: blink 1s ease infinite; 
}
.spinP button{
  color: #000;
  padding: 10px 15px;
  margin: 5px 0;
  background: linear-gradient(90deg,#4cf400,#00f482);
  border-radius: 2px;
}
.spinP .hap{
  width: 20px;
  height: 20px;
  background: #0099ff;
  box-shadow: 0 0 10px #0099ff;
  position: absolute;
  border-radius: 50%;
  animation: glow 3s ease infinite calc(var(--n)*-2s);
}

/*RESULT CSS*/
.resultBox{
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1.2em;
  display: none;
}
.resultBox.active{
  display: flex;sho
}
.resultBox .closer{
  padding: 10px;
  position: absolute;
  right: -5px;
  top: -10px;
  color: #f00;
  transform: rotate(45deg);
  cursor: pointer;
}
.moti{
  display: none;
}
.moti.active{
  display: block;
}

@keyframes wined{
  0%{transform: rotate(180deg) scale(0);}
  100%{transform: rotate(0deg) scale(1);}
}
@keyframes glow{
  100%,0%{
    transform: scale(.7);
    filter: hue-rotate(0deg);
  }
  50%{
    transform: scale(1);
    filter: hue-rotate(180deg);
  }
}

@keyframes show{
  100%{
    opacity: 1;
    transform: scale(1);    
  }
}